<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <!-- 콘솔 로그 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- 환경 API 로그 저장 -->
        <RollingFile name="EnvironmentRollingFile"
                     fileName="logs/environment/environment.log"
                     filePattern="logs/environment/%d{yyyy-MM-dd-HH}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="336">
                <Delete basePath="logs/environment" maxDepth="1">
                    <IfFileName glob="*.log.gz" />
                    <IfLastModified age="14d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- TraceId 전용 로그 파일 -->
        <RollingFile name="TraceLogFile"
                     fileName="logs/trace/trace.log"
                     filePattern="logs/trace/trace-%d{yyyy-MM-dd-HH}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%X{traceId}] [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <MarkerFilter marker="TRACE_ID_LOG" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="336">
                <Delete basePath="logs/trace" maxDepth="1">
                    <IfFileName glob="*.log.gz" />
                    <IfLastModified age="14d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 환경 API Logger -->
        <Logger name="com.nhnacademy.environment" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="EnvironmentRollingFile" />
            <AppenderRef ref="TraceLogFile" />
        </Logger>

        <!-- 루트 로거 -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="EnvironmentRollingFile" />
        </Root>
    </Loggers>
</Configuration>
